openapi: 3.0.1
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: This is the API for Equinix Metal Product. Interact with your devices,
    user account, and projects.
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- description: Manage device batches. See project endpoints to list batches for a
    particular project. Check out the product docs to learn more about [Batch Deployment](https://metal.equinix.com/developers/docs/deploy/batch-deployment/).
  name: Batches
- description: Manage BGP configs and sessions. See device endpoints to create and
    list BGP sessions for a particular device. Check out the product docs to learn
    more about [Local and Global BGP](https://metal.equinix.com/developers/docs/networking/local-global-bgp/).
  name: BGP
- description: Capacity Management. Check out the product docs to learn more about
    [Capacity](https://metal.equinix.com/developers/docs/locations/capacity/).
  name: Capacity
- description: Network Interconnections. See Instructions to create Network Interconnections
    at Check out the product docs to learn more about [Equinix Fabric](https://metal.equinix.com/developers/docs/networking/fabric/).
  name: Connections
- description: Device Management. Check out the product docs to learn more about [Server
    Devices](https://metal.equinix.com/developers/docs/servers/).
  name: Devices
- description: Email Management
  name: Emails
- description: Event Management
  name: Events
- description: Facility Management. Check out the product docs to learn more about
    [Facilities](https://metal.equinix.com/developers/docs/locations/).
  name: Facilities
- description: Hardware Reservation Management. Check out the product docs to learn
    more about [Reserved Hardware](https://metal.equinix.com/developers/docs/deploy/reserved/).
  name: HardwareReservations
- description: Manage invitations. See project endpoints to create a new invitation.
    Check out the product docs to learn more about [Invitations](https://metal.equinix.com/developers/docs/accounts/).
  name: Invitations
- description: Manage IP addresses. See device and project endpoints to list and create
    IP assignments for a particular project or device. Check out the product docs
    to learn more about [the basic networking features](https://metal.equinix.com/developers/docs/networking/standard-ips/).
  name: IPAddresses
- description: Manage licenses. See project endpoints to list and create licenses
    for a particular project.
  name: Licenses
- description: Membership Management (Project). Check out the product docs to learn
    more about [Membership](https://metal.equinix.com/developers/docs/accounts/).
  name: Memberships
- description: Operating System Management. Check out the product docs to learn more
    about [Operating Systems choices](https://metal.equinix.com/developers/docs/operating-systems/).
  name: OperatingSystems
- description: Organizations Management. Check out the product docs to learn more
    about [Organizations](https://metal.equinix.com/developers/docs/accounts/).
  name: Organizations
- description: Otps ManagementCheck out the product docs to learn more about [OTP](https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/).
  name: Otps
- description: Payment Method Management
  name: PaymentMethods
- description: Plan Management (Device). Check out the product docs to learn more
    about [Device Plans](https://metal.equinix.com/developers/docs/servers/).
  name: Plans
- description: Port ManagementCheck out the product docs to learn more about [Port
    configurations](https://metal.equinix.com/developers/docs/networking/layer2/).
  name: Ports
- description: Project Management. Check out the product docs to learn more about
    [Projects](https://metal.equinix.com/developers/docs/accounts/).
  name: Projects
- description: Regions Listing
  name: Regions
- description: Spot Market Prices Management. Check out the product docs to learn
    more about [Spot Market features](https://metal.equinix.com/developers/docs/deploy/spot-market/).
  name: Market
- description: Spot Market Requests Management. Check out the product docs to learn
    more about [Spot Market features](https://metal.equinix.com/developers/docs/deploy/spot-market/).
  name: SpotMarketRequest
- description: Manage SSH keys. See project endpoints to list and create project-level
    SSH keys.
  name: SSHKeys
- description: Project Transfer Requests Management
  name: TransferRequests
- description: Two Factor Authentication Management. Check out the product docs to
    learn more about [2FA](https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/).
  name: TwoFactorAuth
- description: Usage Management
  name: Usages
- description: Userdata Management
  name: Userdata
- description: User Management
  name: Users
- description: User Verification Token Management
  name: UserVerificationTokens
- description: Manage virtual networks (VLANs). See project endpoints to list and
    create virtual networks. Check out the product docs to learn more about [VLANs](https://metal.equinix.com/developers/docs/networking/layer2/).
  name: VLANs
- description: 'Volume Management (Block Storage). '
  name: Volumes
- description: VPN Management. Check out the product docs to learn more about [Doorman
    VPN](https://metal.equinix.com/developers/docs/networking/features/).
  name: VPN
paths:
  /batches/{id}:
    delete:
      description: Deletes the Batch.
      operationId: delete_batch
      parameters:
      - description: Batch UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: boolean
        description: Default route
        required: true
      responses:
        "204":
          content: {}
          description: no content
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Delete the Batch
      tags:
      - Batches
      x-codegen-request-body-name: remove_associated_instances
      x-openapi-router-controller: metal.controllers.batches_controller
    get:
      description: Returns a Batch
      operationId: find_batch_by_id
      parameters:
      - description: Batch UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "404":
          content: {}
          description: not found
      summary: Retrieve a Batch
      tags:
      - Batches
      x-openapi-router-controller: metal.controllers.batches_controller
  /bgp/sessions/{id}:
    delete:
      description: Deletes the BGP session.
      operationId: delete_bgp_session
      parameters:
      - description: BGP session UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Delete the BGP session
      tags:
      - BGP
      x-openapi-router-controller: metal.controllers.bgp_controller
    get:
      description: Returns a BGP session
      operationId: find_bgp_session_by_id
      parameters:
      - description: BGP session UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSession'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve a BGP session
      tags:
      - BGP
      x-openapi-router-controller: metal.controllers.bgp_controller
    put:
      description: Updates the BGP session by either enabling or disabling the default
        route functionality.
      operationId: update_bgp_session
      parameters:
      - description: BGP session UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: boolean
        description: Default route
        required: true
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Update the BGP session
      tags:
      - BGP
      x-codegen-request-body-name: default_route
      x-openapi-router-controller: metal.controllers.bgp_controller
  /capacity:
    get:
      description: Returns a list of facilities and plans with their current capacity.
      operationId: find_capacity_for_facility
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityList'
          description: ok
        "401":
          content: {}
          description: unauthorized
      summary: View capacity
      tags:
      - Capacity
      x-openapi-router-controller: metal.controllers.capacity_controller
    post:
      description: Validates if a deploy can be fulfilled.
      operationId: check_capacity_for_facility
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapacityInput'
        description: Facility to check capacity in
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityCheckPerFacilityList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "422":
          content: {}
          description: unprocessable entity
      summary: Check capacity
      tags:
      - Capacity
      x-codegen-request-body-name: facility
      x-openapi-router-controller: metal.controllers.capacity_controller
  /connections/{connection_id}:
    delete:
      description: Delete a connection, its associated ports and virtual circuits.
      operationId: delete_interconnection
      parameters:
      - description: Connection UUID
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interconnection'
          description: accepted
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Delete connection
      tags:
      - Connections
      x-openapi-router-controller: metal.controllers.connections_controller
    get:
      description: Get the details of a connection
      operationId: get_interconnection
      parameters:
      - description: Connection UUID
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interconnection'
          description: ok
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Get connection
      tags:
      - Connections
      x-openapi-router-controller: metal.controllers.connections_controller
    put:
      description: Update the details of a connection
      operationId: update_interconnection
      parameters:
      - description: Connection UUID
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterconnectionUpdateInput'
        description: Updated connection details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interconnection'
          description: ok
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Update connection
      tags:
      - Connections
      x-codegen-request-body-name: connection
      x-openapi-router-controller: metal.controllers.connections_controller
  /connections/{connection_id}/events:
    get:
      description: Returns a list of the connection events
      operationId: find_connection_events
      parameters:
      - description: Connection UUID
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve connection events
      tags:
      - Events
      - Connections
      x-openapi-router-controller: metal.controllers.events_controller
  /connections/{connection_id}/ports:
    get:
      description: List the ports associated to an connection.
      operationId: list_connection_ports
      parameters:
      - description: UUID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterconnectionPortList'
          description: ok
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: List a connection's ports
      tags:
      - Connections
      x-openapi-router-controller: metal.controllers.connections_controller
  /connections/{connection_id}/ports/{id}:
    get:
      description: Get the details of an connection port.
      operationId: get_connection_port
      parameters:
      - description: UUID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterconnectionPort'
          description: ok
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Get a connection port
      tags:
      - Connections
      x-openapi-router-controller: metal.controllers.connections_controller
  /connections/{connection_id}/ports/{id}/events:
    get:
      description: Returns a list of the connection port events
      operationId: find_connection_port_events
      parameters:
      - description: Connection UUID
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Connection Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve connection port events
      tags:
      - Events
      - Connections
      x-openapi-router-controller: metal.controllers.events_controller
  /connections/{connection_id}/ports/{port_id}/virtual-circuits:
    get:
      description: List the virtual circuit record(s) associatiated with a particular
        connection port.
      operationId: list_connection_port_virtual_circuits
      parameters:
      - description: UUID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      - description: UUID of the connection port
        in: path
        name: port_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCircuitList'
          description: ok
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: List a connection port's virtual circuits
      tags:
      - Connections
      x-openapi-router-controller: metal.controllers.connections_controller
    post:
      description: Create a new Virtual Circuit on a dedicated connection using a
        Virtual Network record and an NNI VLAN value.
      operationId: create_connection_port_virtual_circuit
      parameters:
      - description: UUID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      - description: UUID of the connection port
        in: path
        name: port_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualCircuitCreateInput'
        description: Virtual Circuit details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCircuitList'
          description: ok
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Create a new Virtual Circuit
      tags:
      - Connections
      x-codegen-request-body-name: virtual_circuit
      x-openapi-router-controller: metal.controllers.connections_controller
  /devices/{id}:
    delete:
      description: Deletes a device and deprovisions it in our datacenter.
      operationId: delete_device
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Force the deletion of the device, by detaching any storage volume
          still active.
        in: query
        name: force_delete
        schema:
          type: boolean
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Delete the device
      tags:
      - Devices
      x-openapi-router-controller: metal.controllers.devices_controller
    get:
      description: |-
        Type-specific options (such as facility for baremetal devices) will be included as part of the main data structure.
                                 State value can be one of: active inactive queued or provisioning
      operationId: find_device_by_id
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve a device
      tags:
      - Devices
      x-openapi-router-controller: metal.controllers.devices_controller
    put:
      description: Updates the device.
      operationId: update_device
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdateInput'
        description: Facility to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Update the device
      tags:
      - Devices
      x-codegen-request-body-name: device
      x-openapi-router-controller: metal.controllers.devices_controller
  /devices/{id}/actions:
    post:
      description: 'Performs an action for the given device.  Possible actions include:
        power_on, power_off, reboot, reinstall, and rescue (reboot the device into
        rescue OS.)'
      operationId: perform_action
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Action to perform
        in: query
        name: type
        required: true
        schema:
          enum:
          - power_on
          - power_off
          - reboot
          - rescue
          - reinstall
          type: string
      responses:
        "202":
          content: {}
          description: accepted
        "401":
          content: {}
          description: unauthorized
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Perform an action
      tags:
      - Devices
      x-openapi-router-controller: metal.controllers.devices_controller
  /devices/{id}/bandwidth:
    get:
      description: Retrieve an instance bandwidth for a given period of time.
      operationId: find_instance_bandwidth
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Timestamp from range
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: Timestamp to range
        in: query
        name: until
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ok
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve an instance bandwidth
      tags:
      - Devices
      x-openapi-router-controller: metal.controllers.devices_controller
  /devices/{id}/bgp/neighbors:
    get:
      description: Provides a summary of the BGP neighbor data associated to the BGP
        sessions for this device.
      operationId: get_bgp_neighbor_data
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSessionNeighbors'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve BGP neighbor data for this device
      tags:
      - Devices
      - BGP
      x-openapi-router-controller: metal.controllers.devices_controller
  /devices/{id}/bgp/sessions:
    get:
      description: Provides a listing of available BGP sessions for the device.
      operationId: find_bgp_sessions
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSessionList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
      summary: Retrieve all BGP sessions
      tags:
      - Devices
      - BGP
      x-openapi-router-controller: metal.controllers.devices_controller
    post:
      description: Creates a BGP session.
      operationId: create_bgp_session
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BGPSessionInput'
        description: BGP session to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSession'
          description: ok
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSession'
          description: created
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "422":
          content: {}
          description: unprocessable entity
      summary: Create a BGP session
      tags:
      - Devices
      - BGP
      x-codegen-request-body-name: bgp_session
      x-openapi-router-controller: metal.controllers.devices_controller
  /devices/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this instance in json format
      operationId: find_device_customdata
      parameters:
      - description: Instance UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve the custom metadata of an instance
      tags:
      - Devices
      x-openapi-router-controller: metal.controllers.devices_controller
  /devices/{id}/events:
    get:
      description: Returns a list of events pertaining to a specific device
      operationId: find_device_events
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve device's events
      tags:
      - Events
      - Devices
      x-openapi-router-controller: metal.controllers.events_controller
  /devices/{id}/ips:
    get:
      description: Returns all ip assignments for a device.
      operationId: find_ip_assignments
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAssignmentList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "404":
          content: {}
          description: not found
      summary: Retrieve all ip assignments
      tags:
      - Devices
      - IPAddresses
      x-openapi-router-controller: metal.controllers.devices_controller
    post:
      description: Creates an ip assignment for a device.
      operationId: create_ip_assignment
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPAssignmentInput'
        description: IPAssignment to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAssignment'
          description: created
        "401":
          content: {}
          description: unauthorized
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Create a ip assignment
      tags:
      - Devices
      - IPAddresses
      x-codegen-request-body-name: ip_assignment
      x-openapi-router-controller: metal.controllers.devices_controller
  /devices/{id}/ssh-keys:
    get:
      description: Returns a collection of the device's ssh keys.
      operationId: find_device_ssh_keys
      parameters:
      - description: Project UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Search by key, label, or fingerprint
        in: query
        name: Search string
        schema:
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKeyList'
          description: ok
        "401":
          content: {}
          description: unauthorized
      summary: Retrieve a device's ssh keys
      tags:
      - Projects
      - SSHKeys
      x-openapi-router-controller: metal.controllers.projects_controller
  /devices/{id}/traffic:
    get:
      description: Returns traffic for a specific device.
      operationId: find_traffic
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Traffic direction
        in: query
        name: direction
        required: true
        schema:
          enum:
          - inbound
          - outbound
          type: string
      - description: Traffic interval
        in: query
        name: interval
        schema:
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          - hour_of_day
          - day_of_week
          - day_of_month
          - month_of_year
          type: string
      - description: Traffic bucket
        in: query
        name: bucket
        schema:
          enum:
          - internal
          - external
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Timeframe'
        description: Traffic timeframe
        required: true
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve device traffic
      tags:
      - Devices
      x-codegen-request-body-name: timeframe
      x-openapi-router-controller: metal.controllers.devices_controller
  /devices/{id}/usages:
    get:
      description: Returns all usages for a device.
      operationId: find_device_usages
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Filter usages created after this date
        in: query
        name: created[after]
        schema:
          format: datetime
          type: string
      - description: Filter usages created before this date
        in: query
        name: created[before]
        schema:
          format: datetime
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceUsageList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "404":
          content: {}
          description: not found
      summary: Retrieve all usages for device
      tags:
      - Devices
      - Usages
      x-openapi-router-controller: metal.controllers.devices_controller
  /devices/{instance_id}/ips/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this IP Assignment in json
        format
      operationId: find_ip_assignment_customdata
      parameters:
      - description: Instance UUID
        in: path
        name: instance_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Ip Assignment UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve the custom metadata of an IP Assignment
      tags:
      - Devices
      x-openapi-router-controller: metal.controllers.devices_controller
  /emails:
    post:
      description: Add a new email address to the current user.
      operationId: create_email
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmailInput'
        description: Email to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
          description: created
        "401":
          content: {}
          description: unauthorized
        "422":
          content: {}
          description: unprocessable entity
      summary: Create an email
      tags:
      - Emails
      x-codegen-request-body-name: email
      x-openapi-router-controller: metal.controllers.emails_controller
  /emails/{id}:
    delete:
      description: Deletes the email.
      operationId: delete_email
      parameters:
      - description: Email UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Delete the email
      tags:
      - Emails
      x-openapi-router-controller: metal.controllers.emails_controller
    get:
      description: Provides one of the user’s emails.
      operationId: find_email_by_id
      parameters:
      - description: Email UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve an email
      tags:
      - Emails
      x-openapi-router-controller: metal.controllers.emails_controller
    put:
      description: Updates the email.
      operationId: update_email
      parameters:
      - description: Email UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmailInput'
        description: email to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Update the email
      tags:
      - Emails
      x-codegen-request-body-name: email
      x-openapi-router-controller: metal.controllers.emails_controller
  /events:
    get:
      description: Returns a list of the current user’s events
      operationId: find_events
      parameters:
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
          description: ok
        "401":
          content: {}
          description: unauthorized
      summary: Retrieve current user's events
      tags:
      - Events
      x-openapi-router-controller: metal.controllers.events_controller
  /events/{id}:
    get:
      description: Returns a single event if the user has access
      operationId: find_event_by_id
      parameters:
      - description: Event UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve an event
      tags:
      - Events
      x-openapi-router-controller: metal.controllers.events_controller
  /facilities:
    get:
      description: Provides a listing of available datacenters where you can provision
        Packet devices.
      operationId: find_facilities
      parameters:
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            enum:
            - address
            - labels
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          default: '["address"]'
          items:
            enum:
            - address
            - labels
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityList'
          description: ok
        "401":
          content: {}
          description: unauthorized
      summary: Retrieve all facilities
      tags:
      - Facilities
      x-openapi-router-controller: metal.controllers.facilities_controller
  /hardware-reservations/{id}:
    get:
      description: Returns a single hardware reservation
      operationId: find_hardware_reservation_by_id
      parameters:
      - description: HardwareReservation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve a hardware reservation
      tags:
      - HardwareReservations
      x-openapi-router-controller: metal.controllers.hardware_reservations_controller
  /hardware-reservations/{id}/move:
    post:
      description: Move a hardware reservation to another project
      operationId: hardware_reservations_id_move_post
      parameters:
      - description: Hardware Reservation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              format: uuid
              type: string
        description: Project UUID
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HardwareReservation'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Move a hardware reservation
      tags:
      - HardwareReservations
      x-codegen-request-body-name: project_id
      x-openapi-router-controller: metal.controllers.hardware_reservations_controller
  /incidents:
    get:
      description: Retrieve the number of incidents.
      operationId: incidents_get
      parameters:
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content: {}
          description: unauthorized
      summary: Retrieve the number of incidents
      tags:
      - incidents
      x-openapi-router-controller: metal.controllers.incidents_controller
  /invitations:
    get:
      description: Returns all invitations in current user.
      operationId: find_invitations
      parameters:
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve current user invitations
      tags:
      - Invitations
      - Users
      x-openapi-router-controller: metal.controllers.invitations_controller
  /invitations/{id}:
    delete:
      description: Decline an invitation.
      operationId: decline_invitation
      parameters:
      - description: Invitation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Decline an invitation
      tags:
      - Invitations
      x-openapi-router-controller: metal.controllers.invitations_controller
    get:
      description: Returns a single invitation. (It include the `invitable` to maintain
        backward compatibility but will be removed soon)
      operationId: find_invitation_by_id
      parameters:
      - description: Invitation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: View an invitation
      tags:
      - Invitations
      x-openapi-router-controller: metal.controllers.invitations_controller
    put:
      description: Accept an invitation.
      operationId: accept_invitation
      parameters:
      - description: Invitation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Accept an invitation
      tags:
      - Invitations
      x-openapi-router-controller: metal.controllers.invitations_controller
  /ips/{id}:
    delete:
      description: Note! This call can be used to un-assign an IP assignment or delete
        an IP reservation. Un-assign an IP address record. Use the assignment UUID
        you get after attaching the IP. This will remove the relationship between
        an IP and the device and will make the IP address available to be assigned
        to another device. Delete and IP reservation. Use the reservation UUID you
        get after adding the IP to the project. This will permanently delete the IP
        block reservation from the project.
      operationId: delete_ip_address
      parameters:
      - description: IP Address UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Unassign an ip address
      tags:
      - IPAddresses
      x-openapi-router-controller: metal.controllers.ip_addresses_controller
    get:
      description: Returns a single ip address if the user has access.
      operationId: find_ip_address_by_id
      parameters:
      - description: IP Address UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAssignment'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve an ip address
      tags:
      - IPAddresses
      x-openapi-router-controller: metal.controllers.ip_addresses_controller
  /ips/{id}/available:
    get:
      description: Provides a list of IP resevations for a single project.
      operationId: find_ip_availabilities
      parameters:
      - description: IP Reservation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Size of subnets in bits
        in: query
        name: cidr
        required: true
        schema:
          enum:
          - "20"
          - "21"
          - "22"
          - "23"
          - "24"
          - "25"
          - "26"
          - "27"
          - "28"
          - "29"
          - "30"
          - "31"
          - "32"
          - "33"
          - "34"
          - "35"
          - "36"
          - "37"
          - "38"
          - "39"
          - "40"
          - "41"
          - "42"
          - "43"
          - "44"
          - "45"
          - "46"
          - "47"
          - "48"
          - "49"
          - "50"
          - "51"
          - "52"
          - "53"
          - "54"
          - "55"
          - "56"
          - "57"
          - "58"
          - "59"
          - "60"
          - "61"
          - "62"
          - "63"
          - "64"
          - "65"
          - "66"
          - "67"
          - "68"
          - "69"
          - "70"
          - "71"
          - "72"
          - "73"
          - "74"
          - "75"
          - "76"
          - "77"
          - "78"
          - "79"
          - "80"
          - "81"
          - "82"
          - "83"
          - "84"
          - "85"
          - "86"
          - "87"
          - "88"
          - "89"
          - "90"
          - "91"
          - "92"
          - "93"
          - "94"
          - "95"
          - "96"
          - "97"
          - "98"
          - "99"
          - "100"
          - "101"
          - "102"
          - "103"
          - "104"
          - "105"
          - "106"
          - "107"
          - "108"
          - "109"
          - "110"
          - "111"
          - "112"
          - "113"
          - "114"
          - "115"
          - "116"
          - "117"
          - "118"
          - "119"
          - "120"
          - "121"
          - "122"
          - "123"
          - "124"
          - "125"
          - "126"
          - "127"
          - "128"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAvailabilitiesList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve all available subnets of a particular reservation
      tags:
      - IPAddresses
      x-openapi-router-controller: metal.controllers.ip_addresses_controller
  /ips/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this IP Reservation or
        IP Assignment in json format
      operationId: find_ip_address_customdata
      parameters:
      - description: Ip Reservation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve the custom metadata of an IP Reservation or IP Assignment
      tags:
      - IPAddresses
      x-openapi-router-controller: metal.controllers.ip_addresses_controller
  /licenses/{id}:
    delete:
      description: Deletes a license.
      operationId: delete_license
      parameters:
      - description: License UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Delete the license
      tags:
      - Licenses
      x-openapi-router-controller: metal.controllers.licenses_controller
    get:
      description: Returns a license
      operationId: find_license_by_id
      parameters:
      - description: License UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/License'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve a license
      tags:
      - Licenses
      x-openapi-router-controller: metal.controllers.licenses_controller
    put:
      description: Updates the license.
      operationId: update_license
      parameters:
      - description: License UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseUpdateInput'
        description: License to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/License'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Update the license
      tags:
      - Licenses
      x-codegen-request-body-name: license
      x-openapi-router-controller: metal.controllers.licenses_controller
  /market/spot/prices:
    get:
      description: Get Equinix Metal current spot market prices.
      operationId: find_spot_market_prices
      parameters:
      - description: Facility to check spot market prices
        in: query
        name: facility
        schema:
          type: string
      - description: Plan to check spot market prices
        in: query
        name: plan
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotMarketPricesList'
          description: ok
      summary: Get current spot market prices
      tags:
      - Market
      x-openapi-router-controller: metal.controllers.market_controller
  /market/spot/prices/history:
    get:
      description: |-
        Get spot market prices for a given plan and facility in a fixed period of time

        *Note: In the `200` response, the property `datapoints` contains arrays of `[float, integer]`.*
      operationId: find_spot_market_prices_history
      parameters:
      - description: Facility to check spot market prices
        in: query
        name: facility
        required: true
        schema:
          type: string
      - description: Plan to check spot market prices
        in: query
        name: plan
        required: true
        schema:
          type: string
      - description: Timestamp from range
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: Timestamp to range
        in: query
        name: until
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotPricesHistoryReport'
          description: ok
      summary: Get spot market prices for a given period of time
      tags:
      - Market
      x-openapi-router-controller: metal.controllers.market_controller
  /memberships/{id}:
    delete:
      description: Deletes the membership.
      operationId: delete_membership
      parameters:
      - description: Membership UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Delete the membership
      tags:
      - Memberships
      x-openapi-router-controller: metal.controllers.memberships_controller
    get:
      description: Returns a single membership.
      operationId: find_membership_by_id
      parameters:
      - description: Membership UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve a membership
      tags:
      - Memberships
      x-openapi-router-controller: metal.controllers.memberships_controller
    put:
      description: Updates the membership.
      operationId: update_membership
      parameters:
      - description: Membership UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipInput'
        description: Membership to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Update the membership
      tags:
      - Memberships
      x-codegen-request-body-name: membership
      x-openapi-router-controller: metal.controllers.memberships_controller
  /operating-system-versions:
    get:
      description: Provides a listing of available operating system versions.
      operationId: find_operating_system_version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatingSystemList'
          description: ok
        "401":
          content: {}
          description: unauthorized
      summary: Retrieve all operating system versions
      tags:
      - OperatingSystemVersions
      x-openapi-router-controller: metal.controllers.operating_system_versions_controller
  /operating-systems:
    get:
      description: Provides a listing of available operating systems to provision
        your new device with.
      operationId: find_operating_systems
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatingSystemList'
          description: ok
        "401":
          content: {}
          description: unauthorized
      summary: Retrieve all operating systems
      tags:
      - OperatingSystems
      x-openapi-router-controller: metal.controllers.operating_systems_controller
  /organizations:
    get:
      description: Returns a list of organizations that are accessible to the current
        user.
      operationId: find_organizations
      parameters:
      - description: Include, exclude or show only personal organizations.
        in: query
        name: personal
        schema:
          enum:
          - include
          - exclude
          - only
          type: string
      - description: Include, exclude or show only organizations that have no projects.
        in: query
        name: without_projects
        schema:
          enum:
          - include
          - exclude
          - only
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationList'
          description: ok
        "401":
          content: {}
          description: unauthorized
      summary: Retrieve all organizations
      tags:
      - Organizations
      x-openapi-router-controller: metal.controllers.organizations_controller
    post:
      description: Creates an organization.
      operationId: create_organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInput'
        description: Organization to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: created
        "401":
          content: {}
          description: unauthorized
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Create an organization
      tags:
      - Organizations
      x-codegen-request-body-name: organization
      x-openapi-router-controller: metal.controllers.organizations_controller
  /organizations/{id}:
    delete:
      description: Deletes the organization.
      operationId: delete_organization
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content: {}
          description: unauthorized
        "404":
          content: {}
          description: not found
      summary: Delete the organization
      tags:
      - Organizations
      x-openapi-router-controller: metal.controllers.organizations_controller
    get:
      description: Returns a single organization's details, if the user is authorized
        to view it.
      operationId: find_organization_by_id
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve an organization's details
      tags:
      - Organizations
      x-openapi-router-controller: metal.controllers.organizations_controller
    put:
      description: Updates the organization.
      operationId: update_organization
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInput'
        description: Organization to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Update the organization
      tags:
      - Organizations
      x-codegen-request-body-name: organization
      x-openapi-router-controller: metal.controllers.organizations_controller
  /organizations/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this organization in json
        format
      operationId: find_organization_customdata
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve the custom metadata of an organization
      tags:
      - Organizations
      x-openapi-router-controller: metal.controllers.organizations_controller
  /organizations/{id}/devices:
    get:
      description: Provides a collection of devices for a given organization.
      operationId: find_organization_devices
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve all devices of an organization
      tags:
      - Organizations
      - Devices
      x-openapi-router-controller: metal.controllers.organizations_controller
  /organizations/{id}/events:
    get:
      description: Returns a list of events for a single organization
      operationId: find_organization_events
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve organization's events
      tags:
      - Events
      - Organizations
      x-openapi-router-controller: metal.controllers.events_controller
  /organizations/{id}/facilities:
    get:
      description: Returns a listing of available datacenters for the given organization
      operationId: find_facilities_by_organization
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve all facilities visible by the organization
      tags:
      - Facilities
      - Organizations
      x-openapi-router-controller: metal.controllers.facilities_controller
  /organizations/{id}/invitations:
    get:
      description: Returns all invitations in an organization.
      operationId: find_organization_invitations
      parameters:
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve organization invitations
      tags:
      - Invitations
      - Organizations
      x-openapi-router-controller: metal.controllers.invitations_controller
    post:
      description: |-
        In order to add a user to an organization, they must first be invited.
        To invite to several projects the parameter `projects_ids:[a,b,c]` can be used
      operationId: create_organization_invitation
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationInput'
        description: Invitation to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
          description: created
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Create an invitation for an organization
      tags:
      - Invitations
      - Organizations
      x-codegen-request-body-name: invitation
      x-openapi-router-controller: metal.controllers.invitations_controller
  /organizations/{id}/operating-systems:
    get:
      description: Returns a listing of available operating systems for the given
        organization
      operationId: find_operating_systems_by_organization
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatingSystemList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "403":
          content: {}
          description: forbidden
        "404":
          content: {}
          description: not found
      summary: Retrieve all operating systems visible by the organization
      tags:
      - OperatingSystems
      - Organizations
      x-openapi-router-controller: metal.controllers.operating_systems_controller
  /organizations/{id}/payment-methods:
    get:
      description: Returns all payment methods of an organization.
      operationId: find_organization_payment_methods
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodList'
          description: ok
        "401":
          content: {}
          description: unauthorized
        "404":
          content: {}
          description: not found
      summary: Retrieve all payment methods of an organization
      tags:
      - Organizations
      - PaymentMethods
      x-openapi-router-controller: metal.controllers.organizations_controller
    post:
      description: Creates a payment method.
      operationId: create_payment_method
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodCreateInput'
        description: Payment Method to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
          description: created
        "401":
          content: {}
          description: unauthorized
        "404":
          content: {}
          description: not found
        "422":
          content: {}
          description: unprocessable entity
      summary: Create a payment method for the given organization
      tags:
      - Organizations
      - PaymentMethods
      x-codegen-request-body-name: payment_method
      x-openapi-router-controller: metal.controllers.organizations_controller
  /organizations/{id}/plans:
    get:
[...]
