=begin
#Metal API

#This is the API for Equinix Metal Product. Interact with your devices, user account, and projects.

The version of the OpenAPI document: 1.0.0
Contact: support@equinixmetal.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.1.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class InternetGatewaysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an internet gateway
    # Creates an internet gateway.
    # @param id [String] Virtual Network UUID
    # @param length [String] IP Reservation length
    # @param [Hash] opts the optional parameters
    # @return [InternetGateway]
    def create_internet_gateway(id, length, opts = {})
      data, _status_code, _headers = create_internet_gateway_with_http_info(id, length, opts)
      data
    end

    # Create an internet gateway
    # Creates an internet gateway.
    # @param id [String] Virtual Network UUID
    # @param length [String] IP Reservation length
    # @param [Hash] opts the optional parameters
    # @return [Array<(InternetGateway, Integer, Hash)>] InternetGateway data, response status code and response headers
    def create_internet_gateway_with_http_info(id, length, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InternetGatewaysApi.create_internet_gateway ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InternetGatewaysApi.create_internet_gateway"
      end
      # verify the required parameter 'length' is set
      if @api_client.config.client_side_validation && length.nil?
        fail ArgumentError, "Missing the required parameter 'length' when calling InternetGatewaysApi.create_internet_gateway"
      end
      # resource path
      local_var_path = '/virtual-networks/{id}/internet-gateways'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'length'] = length

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InternetGateway'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x_auth_token']

      new_options = opts.merge(
        :operation => :"InternetGatewaysApi.create_internet_gateway",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InternetGatewaysApi#create_internet_gateway\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
