=begin
#Metal API

#This is the API for Equinix Metal Product. Interact with your devices, user account, and projects.

The version of the OpenAPI document: 1.0.0
Contact: support@equinixmetal.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.1.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class UserdataApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Validate user data
    # Validates user data (Userdata)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :userdata Userdata to validate
    # @return [nil]
    def validate_userdata(opts = {})
      validate_userdata_with_http_info(opts)
      nil
    end

    # Validate user data
    # Validates user data (Userdata)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :userdata Userdata to validate
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def validate_userdata_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserdataApi.validate_userdata ...'
      end
      # resource path
      local_var_path = '/userdata/validate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userdata'] = opts[:'userdata'] if !opts[:'userdata'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x_auth_token']

      new_options = opts.merge(
        :operation => :"UserdataApi.validate_userdata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserdataApi#validate_userdata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
